body {
    margin: 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 100vw;
}

.wrapper {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1220px;
}

.main {
    z-index: 0;
    position: relative;
    background: #ECECEC;
    padding-bottom: 100px;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.title {
    width: 100%;
}

.main-menu {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin: -10px -10px;
}

.second-menu {
    width: 400px;
    display: inline-block;
    background-color: white;
    /* height: 315px; */
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.second-menu:hover {
    transition: box-shadow 300ms;
    box-shadow: 0px 4px 4px rgba(255, 136, 0, 0.25);
}

.second-menu-title {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.second-menu-box {
    padding: 0 30px;
}
.delivering {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.delivering-text {
    font-size: 14px;
    line-height: 17px;
}

.delivering-price {
    font-size: 14px;
    line-height: 17px;
}

.delivering-btn {
    width: 100%;
    height: 62px;
    background: #FF6C01;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.nav {
    list-style-type: none;
    margin: 30px 0 0 0;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    padding: 6px 8px;
    margin-right: 40px;
    color: #7B7B7B;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background: transparent;
}

.nav-item:hover {
    transition: color 300ms, background 300ms;
    background: #C4C4C4;
    border-radius: 10px;
    color: #343434;
    cursor: pointer;
}

.nav-item-active {
    background: #C4C4C4;
    border-radius: 10px;
    color: #343434;
    cursor: pointer;
}
