.basked {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin-top: 20px;
}
.basket-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-position {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    width: 185px;
}

.btn-position {
    width: 28px;
    height: 28px;
    border: none;
    background: #FF6C01;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.price-position {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    width: 65px;
    text-align: end;
}
.basked__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 20px 0;
}
.count-position {
    text-align: center;
    width: 30px;
}
.basked-text {
    max-width: 180px;
    font-weight: 500;
    padding-left: 15px;
    font-size: 12px;
    line-height: 15px;
    color: #979797;
}
.basked__info {
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
    font-size: 17px;
    line-height: 15px;
}