.card {
    position: relative;
    max-width: 230px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 10px;
    align-items: center;
}

.card:hover {
    transition: box-shadow 300ms;
    box-shadow: 0px 4px 4px rgba(255, 136, 0, 0.25);
}

.card-body {
    padding: 10px 10px;
}

.card-photo {
    height: 230px;
}

.card-photo img{
    border-radius: 5px;
}

.product-name {
    padding: 25px;
    cursor: pointer;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}

.product-info {
    padding: 0 25px 50px 25px;
    color: #A1A1A1;
    font-size: 10px;
}

.card-row {
    position: absolute;
    width: 180px;
    left: 25px;
    bottom: 12px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}

.product-price {
    display: flex;
    margin: 0;
    align-items: center;
    width: 113px;
}

.product-btn {
    display: none;
    width: 113px;
    height: 35px;
    border: none;
    background: #FF6C01;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.card:hover > .card-text > .card-row .product-price{
    display: none;
}

.card:hover > .card-text > .card-row .product-btn{
    animation: show-btn 300ms 1;
    animation-fill-mode: forwards;
    display: block;
    
}

@keyframes show-btn{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.product-like {
    display: flex;
    margin: 0;
    align-items: center;
    cursor: pointer;
}