.header {
    padding: 0 15px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.header-body {
    padding: 10px 0;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
}
.header-logo > img {
    cursor: pointer;
}

.city-input {
    background: #FFFFFF;
    border: 2px solid #323232;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 100px;
    width: 480px;
    height: 50px;
    cursor: pointer;
}
.css-1pahdxg-control {
    width: 100%;
    height: 100%;
    border-color: none;
    cursor: pointer;
    padding-left: 30px;
    background: url(../img/pin.svg) no-repeat;
    background-position: 10px 50%;
}

.css-1pahdxg-control:focus {
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
}
.css-1s2u09g-control {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    padding-left: 30px;
    background: url(../img/pin.svg) no-repeat;
    background-position: 10px 50%;
}
.css-1s2u09g-control:focus {
    height: 100%;
    width: 100%;
    border-color: none;
    cursor: pointer;
}

.css-1okebmr-indicatorSeparator {
    background-color: none;
}

.header-top {
    width: 100%;
}

.header-btn {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: white;
    padding: 15px 20px;
    border: none;
}

.header-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.login-btn {
    background-color: #EF781A;
    margin-right: 30px;
}

.basked-btn {
    background-color: #00D008;
}

.header-bottom {
    position: relative;
    z-index: 1;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
}

.header-title {
    padding-bottom: 10px;
    margin: 0;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}